[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "==2.9.11"
molecule = "==3.0.6"
testinfra = "==5.2.2"
python-vagrant = "==0.5.15"
awscli = "==1.18.49"
boto3 = "==1.12.49"
docker = "==4.3.0"
molecule-vagrant = "==0.3"

[requires]
python_version = "3.7"
