[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "==2.9.5"
molecule = "==2.22"
testinfra = "==3.4.0"
python-vagrant = "==0.5.15"
awscli = "==1.16.313"
boto = "==2.49.0"
boto3 = "==1.10.49"
docker = "==4.2.0"

[requires]
python_version = "3.7"
