[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "==2.9.2"
molecule = "==2.22"
testinfra = "==3.3.0"
python-vagrant = "==0.5.15"
awscli = "==1.16.298"
boto = "==2.49.0"
boto3 = "==1.10.34"
docker = "==4.1.0"

[requires]
python_version = "3.7"
