version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7.5

    environment:
      EC2_REGION: eu-central-1

    working_directory: ~/molecule-ansible-docker-vagrant

    steps:
      - checkout
      - setup_remote_docker

      # Install all dependencies with pipenv - incl. python-dev installation for pip packages, that need to be build & have a Python.h present
      - run:
          name: Install all dependencies with pipenv
          command: |
            sudo apt-get install python-dev
            sudo pip install pipenv
            pipenv install

      - run:
          name: Run Molecule Testing CircleCI-locally with Docker
          command: |
            cd docker
            pipenv run molecule test

      - run:
          name: configure AWS CLI
          command: |
            pipenv run aws configure set aws_access_key_id ${AWS_ACCESS_KEY}
            pipenv run aws configure set aws_secret_access_key ${AWS_SECRET_KEY}
            pipenv run aws configure set default.region ${EC2_REGION}
            pipenv run aws configure list

#      - run:
#          name: Run Molecule Testing on AWS EC2
#          command: |
#            cd docker
#            pipenv run molecule --debug destroy --scenario-name aws-ec2-ubuntu
#            pipenv run molecule --debug create --scenario-name aws-ec2-ubuntu
#            pipenv run molecule --debug converge --scenario-name aws-ec2-ubuntu
#            pipenv run molecule --debug verify --scenario-name aws-ec2-ubuntu
#            pipenv run molecule --debug destroy --scenario-name aws-ec2-ubuntu

# To use a scheduled execution in CircleCI, we need to introduce a workflow
# see https://circleci.com/docs/2.0/triggers/#scheduled-builds
workflows:
  version: 2
  on-commit:
    jobs:
      - build
  weekly-schedule:
    triggers:
      - schedule:
          cron: "55 17 * * 5" # 17:55 every friday (see https://crontab.guru/)
          filters:
            branches:
              only:
                - master
    jobs:
      - build